<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voorportaal ICT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>
      [v-cloak] {display: none;}
      .title-404 {font-size: 40px; padding-top: 100px; text-align: center;}
      .info-404 {font-size: 20px; padding-bottom: 100px; text-align: center;}
    </style>
  </head>
  <body>
    <div class="header">
      <h1>Voorportaal ICT</h1>
    </div>
    <div class="menu">

    </div>
    <div class="appshell">
      <div class="background">
        <div class="color"></div>
      </div>
      <div class="content">
        <div class="box">
          <h1 class="title-404">404</h1>
          <p class="info-404">Pagina bestaat niet</p>
        </div>
      </div>
    </div>
  </body>
</html>
