<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ICT - Discord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>[v-cloak] {display: none;}</style>
  </head>
  <body>
    <div class="header">
      <h1><a href="/"><i class="material-icons">arrow_back</i></a><span>ICT - Discord</span></h1>
    </div>
    <div class="menu">

    </div>
    <div class="appshell">
      <div class="background">
        <div class="color"></div>
      </div>
      <div class="content">
        <div class="big-box">
          <h1 class="title">Wat kan de discord bot?</h1>
          <div class="list">
            <p>Het rooster tonen van de julie klas <span>!rooster</span></p>
            <p>Een speciefiek rooster <span>!rooster { rooster naam }</span></p>
          </div>
          <h1 class="title">Discord bot toevoegen</h1>
          <p class="do">Zorg dat je server admin bend :D</p>
          <p class="do">Klik op <a href="https://discordapp.com/oauth2/authorize?client_id=379295128143265803&scope=bot&permissions=1341643969">deze link</a> en volg de stappen</p>
          <p class="do">Als alles goed gaat staad dit in de discord server</p>
          <div class="screenshot">
            <img src="/img/bot1.png" alt="discord screenshot 1">
          </div>
        </div>
      </div>
    </div>
    <script src="/node/vue/dist/vue.js"></script>
    <script src="/js/lockr.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
