<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ICT - Discord</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>[v-cloak] {display: none;}</style>
  </head>
  <body>
    <div class="header">
      <h1>ICT - Discord</h1>
    </div>
    <div class="menu">

    </div>
    <div class="appshell">
      <div class="background">
        <div class="color"></div>
      </div>
      <div class="content">

      </div>
    </div>
    <script src="/node/vue/dist/vue.js"></script>
    <script src="/js/lockr.js"></script>
    <script src="/js/home.js"></script>
  </body>
</html>
