<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Voorportaal ICT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <style>[v-cloak] {display: none;}</style>
  </head>
  <body>
    <div class="header">
      <h1>Voorportaal ICT</h1>
    </div>
    <div class="menu">

    </div>
    <div class="appshell">
      <div class="background">
        <div class="color"></div>
      </div>
      <div class="content">
        <%if (fullpage) { %>
          <div class="fast-links box" v-cloak>
            <h1 class="title">Links</h1>
            <div class="overhidden">
              <div class="linksholder">
                <div class="main-links">
                  <a class="link" v-bind:href="link.link" v-for="(link, id) in links">
                    <div class="imgholder">
                      <img v-bind:src="'/img/icons/' + link.icon + '.png'" v-bind:alt="link.name">
                    </div>
                    <div class="text">
                      <h3 class="title">{{ link.name }}</h3>
                      <p class="description">{{ link.description }}</p>
                    </div>
                  </a>
                </div>
                <div class="more-links" v-bind:class="{ 'more-links-active': typeof(morelinksopen) == 'number' }">
                  <div v-if="typeof(morelinksopenCopy) == 'number'">
                    <h3 class="title"><i v-on:click="morelinksopen = false" class="material-icons">close</i>{{ morelinks[morelinksopenCopy].tabname }}</h3>
                    <a v-for="link in morelinks[morelinksopenCopy].links" v-bind:href="link.link">
                      <h4>{{ link.name }}</h4>
                      <p>{{ link.description }}</p>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="more-links-buttons">
              <h2 class="title">Extra links</h2>
              <button type="button" v-on:click="morelinksopen = id" v-for="(link, id) in morelinks">{{ link.tabname }}</button>
            </div>
          </div>
        <% } %>
        <div class="roosterholder">
          <rooster></rooster>
        </div>
      </div>
    </div>
    <script src="/node/vue/dist/vue.js"></script>
    <script src="/js/lockr.js"></script>
    <script src="/js/home.js"></script>
    <script type="text/x-template" id="timetable-component"><% include componenets/rooster.html %></script>
    <script src="/js/rooster.js"></script>
  </body>
</html>
