* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  background-color: #eee; }

.header {
  padding: 20px;
  background-color: #1976d2;
  position: fixed;
  width: 100vw;
  top: 0px;
  left: 0px;
  z-index: 50; }
  .header h1 {
    font-size: 25px;
    color: white; }

.appshell .background {
  height: 95px;
  max-height: 95px; }
  .appshell .background .color {
    height: 300px;
    background-color: #63a4ff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.appshell .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: flex-start;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap; }
  .appshell .content .box {
    margin: 20px 10px;
    width: 100vw;
    max-width: 550px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
    .appshell .content .box h1.title {
      font-size: 24px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      padding-bottom: 5px; }
    .appshell .content .box h2.title {
      font-size: 20px; }
    .appshell .content .box .overhidden {
      overflow: hidden; }
    .appshell .content .box .linksholder {
      width: 200%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-flex-wrap: nowrap; }
      .appshell .content .box .linksholder .more-links {
        width: 100%;
        display: inline-block;
        background-color: white;
        position: relative;
        min-height: inherit;
        max-height: inherit;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        position: relative;
        right: 0%;
        transition: right 0.4s, box-shadow 0.4s;
        transition-timing-function: ease-in-out;
        box-shadow: 0px 0px 0px; }
        .appshell .content .box .linksholder .more-links h3.title {
          font-size: 24px; }
          .appshell .content .box .linksholder .more-links h3.title i {
            position: relative;
            top: 10px;
            font-size: 35px;
            cursor: pointer;
            color: #7a0000;
            background-color: #eee;
            border-radius: 100%;
            margin-right: 10px; }
        .appshell .content .box .linksholder .more-links a {
          color: black;
          padding-top: 25px;
          display: inline-block;
          text-decoration: none; }
          .appshell .content .box .linksholder .more-links a h4 {
            font-size: 23px; }
          .appshell .content .box .linksholder .more-links a p {
            padding-top: 5px;
            opacity: 0.6; }
      .appshell .content .box .linksholder .more-links-active {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        right: 50%; }
      .appshell .content .box .linksholder .main-links {
        width: 100%;
        display: inline-block;
        margin-top: 1px solid; }
        .appshell .content .box .linksholder .main-links .link {
          padding: 20px 5px;
          text-decoration: none;
          color: black;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          display: -webkit-flex;
          -webkit-flex-direction: row;
          -webkit-flex-wrap: nowrap;
          cursor: pointer; }
          .appshell .content .box .linksholder .main-links .link .imgholder {
            max-height: 60px;
            max-width: 60px;
            min-height: 60px;
            min-width: 60px;
            box-sizing: border-box;
            border-radius: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            display: -webkit-flex;
            -webkit-justify-content: center;
            -webkit-align-items: center;
            background-color: #eee; }
            .appshell .content .box .linksholder .main-links .link .imgholder img {
              max-height: 80%;
              max-width: 80%; }
          .appshell .content .box .linksholder .main-links .link .text {
            padding-left: 10px;
            box-sizing: border-box; }
    .appshell .content .box .more-links-buttons {
      border-top: 2px solid rgba(0, 0, 0, 0.2);
      padding-top: 10px; }
      .appshell .content .box .more-links-buttons h2 {
        padding: 5px 0px; }
      .appshell .content .box .more-links-buttons button {
        padding: 7px 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        background-color: #c50e29;
        margin: 2px;
        border-radius: 4px;
        color: white; }
    .appshell .content .box .schedulemenu {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-justify-content: center;
      -webkit-align-items: center;
      -webkit-flex-direction: column; }
      .appshell .content .box .schedulemenu .search {
        padding: 30px 10px;
        box-sizing: border-box; }
        .appshell .content .box .schedulemenu .search label {
          width: 100%;
          display: inline-block;
          cursor: text; }
        .appshell .content .box .schedulemenu .search input {
          font-size: 20px;
          width: 100%;
          padding: 5px;
          box-sizing: border-box;
          border-bottom: 2px solid #ff5252; }
      .appshell .content .box .schedulemenu .sugestions {
        max-height: 250px;
        min-height: 250px;
        overflow-y: auto;
        overflow-x: hidden; }
        .appshell .content .box .schedulemenu .sugestions button {
          padding: 7px 15px;
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          background-color: #c50e29;
          margin: 2px;
          border-radius: 4px;
          color: white; }
          .appshell .content .box .schedulemenu .sugestions button span {
            font-size: 14px;
            opacity: 0.7;
            position: relative;
            top: -1px;
            padding-right: 4px; }
    .appshell .content .box .timetable {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      display: -webkit-flex;
      -webkit-flex-direction: row;
      -webkit-flex-wrap: nowrap;
      padding: 20px 0px; }
      .appshell .content .box .timetable .day {
        border-left: 1px solid #ccc;
        width: 100%; }
        .appshell .content .box .timetable .day .houre, .appshell .content .box .timetable .day .title {
          height: 70px; }
        .appshell .content .box .timetable .day .houre {
          box-sizing: border-box;
          padding: 2px; }
          .appshell .content .box .timetable .day .houre .roosteritem {
            position: relative;
            background-color: #63A4FF;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            display: -webkit-flex;
            -webkit-flex-direction: column;
            -webkit-align-items: flex-start;
            -webkit-justify-content: flex-start;
            padding: 1px;
            box-sizing: border-box;
            border-radius: 3px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
            .appshell .content .box .timetable .day .houre .roosteritem div {
              display: inline-block;
              max-width: 100%;
              overflow: hidden;
              width: 100%;
              text-align: center; }
            .appshell .content .box .timetable .day .houre .roosteritem div.big {
              font-size: 17px;
              max-height: 17px; }
            .appshell .content .box .timetable .day .houre .roosteritem div.small {
              font-size: 12px;
              max-height: 12px; }
            .appshell .content .box .timetable .day .houre .roosteritem div.time {
              width: 100%;
              min-width: 100%;
              max-height: 30px; }
            .appshell .content .box .timetable .day .houre .roosteritem div.small.wrap {
              width: 50%;
              min-width: 37px; }
            .appshell .content .box .timetable .day .houre .roosteritem .wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              flex-direction: row;
              display: -webkit-flex;
              -webkit-justify-content: center;
              -webkit-align-items: center;
              -webkit-flex-wrap: wrap;
              -webkit-flex-direction: row; }
        .appshell .content .box .timetable .day .title {
          display: flex;
          justify-content: center;
          align-items: center;
          display: -webkit-flex;
          -webkit-justify-content: center;
          -webkit-align-items: center;
          font-weight: 600; }
      .appshell .content .box .timetable .inforow {
        width: 60%;
        border-left: 0px solid white; }
        .appshell .content .box .timetable .inforow .houre {
          border-top: 1px solid #ccc;
          display: flex;
          justify-content: flex-end;
          display: -webkit-flex;
          -webkit-justify-content: flex-end;
          box-sizing: border-box;
          padding: 10px;
          font-weight: 600; }
    .appshell .content .box .offline-holder {
      max-height: 1px;
      width: 100%; }
      .appshell .content .box .offline-holder p {
        height: 70px;
        width: 200px;
        display: flex;
        align-items: flex-end;
        display: -webkit-flex;
        -webkit-align-items: flex-end;
        position: relative;
        bottom: 59px;
        left: -10px;
        box-sizing: border-box;
        padding: 5px;
        font-weight: 600;
        background: -moz-linear-gradient(75deg, rgba(255, 38, 0, 0.7) 0%, rgba(255, 255, 255, 0) 40%);
        background: -webkit-linear-gradient(75deg, rgba(255, 38, 0, 0.7) 0%, rgba(255, 255, 255, 0) 40%); }
    .appshell .content .box .timetablenavigator {
      padding: 10px 5px; }
      .appshell .content .box .timetablenavigator i {
        font-size: 30px;
        position: relative;
        top: 8px;
        padding-right: 5px;
        cursor: pointer; }
